#footer {               /* 푸터 전체 */
    width: 100%;
    height: 400px;
    margin: 0 auto;
    text-align: center;
    background-color: #9eb4d3;
    position: relative;
}

#footer div.links {     
    padding-top: 50px;
}

#footer div.links a {
    
    padding-bottom: 10px;
    line-height: 30px;
    color: #0a0a0ac7;
}

#footer div.info span {
    font-size: 1.1em;
    color: #0b1841;
}

#footer div.logo {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 80px;
    line-height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer div.CS {
    margin-top: 15px;
}

#footer div.CS > div {
    display: inline-block;
    margin-left: 50px;
    margin-top: 15px;
    line-height: 40px;
    font-size: 1.1em;
}

#footer div.CS img {
    width: 40px;
    height: 40px;
    vertical-align: middle;
}

#footer div.CS span {
    height: 40px;
    line-height: 40px;
    font-weight: bold;
    font-size: 1.2em;
    vertical-align: middle;
    color: #d9ddec;
}